* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

#main {
    text-align: center;
}

/* #pictureText {

} */

/* #lorem {
    
} */

#navigation {
    width: 970px;
    height: 500px;
    margin-top: 50px;
    border-radius: 3px;
}

#frame {
    background-color: #EBF8FE;
    display: inline-block;
    width: 700px;
    margin-top: 40px;
    border: solid 1px #EBF8FE;
    display: inline-block;
    align-items: center;
    padding: 30px 20px;
    left: 1000px;
    top: 945px;
    border-radius: 24px;
    
}

#heading {
    display: inline-block;
    width: 690px;
    height: 40px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #181D27;
}

#supporting {
    display: inline-block;
    text-align: left;
    width: 650px;
    height: 88px;
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #535862;
}

#input {
    display: inline-block;
    padding: 0px;
    width: 350px;
    height: 74px;
    vertical-align: middle;
}

#field {
    display: inline-block;
    padding: 0px;
    width: 364px;
    height: 64px;
}

#text {
    margin-right: 0 auto;
    width: 320px;
    height: 56px;
    padding: 12px 14px;
    background: #FFFFFF;
    border: 1px solid #D5D7DA;
    vertical-align: middle;
}

#hint {
    color: #535862;
    margin: 5px;
}

#subscribe {
    display: inline;

    padding: 12px 12px;
    width: 119px;
    height: 48px;
    background: #007CB8;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

#button {
    display: inline-block;
    background-color: #007CB8;
    border: #007CB8 solid 2px;
}

#form {
    margin: 0 auto;
    padding: 40px 32px;
    width: 546px;
    height: 638px;
    left: calc(50% - 546px/2);
    top: 1367px;
    background: #EBF8FE;
    border-radius: 24px;
}

#headingg {
    display: inline-block;
    padding: 0px;
    width: 482px;
    height: 72px;
}

#nameAndEmail {
    display: inline-block;
    padding: 0px;
    width: 482px;
    height: 172px;
    text-align: left;
}

#fullName {
    display: block;
    padding: 4px 8px;
    border-radius: 8px;
    width: 482px;
    height: 56px;
    margin-bottom: 24px;
    color: #380054;
    background-color: #EBF8FE;
}

::placeholder {
    font-family: "Noto Sans Georgian";
    color: #6D5F8B;
}

#email {
    display: block;
    padding: 4px 8px;
    border-radius: 8px;
    width: 482px;
    height: 56px;
    border: 2px solid #380054;
    background-color: #EBF8FE;
}

#circle {
    display: block;
    text-align: left; 
    padding: 0px;
    width: 338px;
    height: 111px;
}

#ratio {
    display: block;
    margin-top: 40px;
    text-align: left;
    margin-left: 35px;
    padding: 0px;
    width: 482px;
    height: 30px;
}

#radio {
    display: block;
    margin-left: 35px;
    padding: 0px;
    width: 14px;
    height: 15px;  
}

#square {
    display: block;
    text-align: left;
    margin-top: 50px;
    padding: 0px;
    width: 338px;
    height: 111px;
}

#check {
    display: inline-block;
    margin-top: 40px;
    text-align: left;
    margin-left: 35px;
    padding: 0px;
    width: 482px;
    height: 30px;
}

#checkbox {
    display: block;
    margin-left: 35px;
    padding: 0px;
    width: 14px;
    height: 15px;
    background-color: #007CB8;
    color: #007CB8;
}

p {
    display: inline;
}